<app-header></app-header><div class="card">
    <div class="cart-container">
        <div class="cart-items">
          <div class="cart-item">
            <div class="item-details">
              <!-- <img src="../../../assets/img/{{item.article.image}}" alt="Product 1"> -->
              <img src="assets/images/3c1e36f3-0d30-4ab0-99dc-1a9128d84af9_test.jpg" alt="Product 1">
              <div class="item-info">
                <h3>test
                </h3>
                <p>test tdytdry rd yjop mfgmsgk okgmlk gùokgmler oskgs</p>
                <p>Prix: 100 TND</p>
              </div>
            </div>
            <div class="quantity">
              <button class="quantity-button minus">-</button>
              <span class="quantity-count">2</span>
              <button class="quantity-button plus">+</button>
            </div>
            <button class="remove-button">Supprimer</button>
          </div>
          <div class="cart-item">
            <div class="item-details">
              <!-- <img src="../../../assets/img/{{item.article.image}}" alt="Product 1"> -->
              <img src="assets/images/3c1e36f3-0d30-4ab0-99dc-1a9128d84af9_test.jpg" alt="Product 1">
              <div class="item-info">
                <h3>test
                </h3>
                <p>test tdytdry rd yjop mfgmsgk okgmlk gùokgmler oskgs</p>
                <p>Prix: 100 TND</p>
              </div>
            </div>
            <div class="quantity">
              <button class="quantity-button minus">-</button>
              <span class="quantity-count">2</span>
              <button class="quantity-button plus">+</button>
            </div>
            <button class="remove-button">Supprimer</button>
          </div>
          <div class="cart-item">
            <div class="item-details">
              <!-- <img src="../../../assets/img/{{item.article.image}}" alt="Product 1"> -->
              <img src="assets/images/3c1e36f3-0d30-4ab0-99dc-1a9128d84af9_test.jpg" alt="Product 1">
              <div class="item-info">
                <h3>test
                </h3>
                <p>test tdytdry rd yjop mfgmsgk okgmlk gùokgmler oskgs</p>
                <p>Prix: 100 TND</p>
              </div>
            </div>
            <div class="quantity">
              <button class="quantity-button minus">-</button>
              <span class="quantity-count">2</span>
              <button class="quantity-button plus">+</button>
            </div>
            <button class="remove-button">Supprimer</button>
          </div>
          <div class="cart-item">
            <div class="item-details">
              <!-- <img src="../../../assets/img/{{item.article.image}}" alt="Product 1"> -->
              <img src="assets/images/3c1e36f3-0d30-4ab0-99dc-1a9128d84af9_test.jpg" alt="Product 1">
              <div class="item-info">
                <h3>test
                </h3>
                <p>test tdytdry rd yjop mfgmsgk okgmlk gùokgmler oskgs</p>
                <p>Prix: 100 TND</p>
              </div>
            </div>
            <div class="quantity">
              <button class="quantity-button minus">-</button>
              <span class="quantity-count">2</span>
              <button class="quantity-button plus">+</button>
            </div>
            <button class="remove-button">Supprimer</button>
          </div>
        </div>
      
      
        <div class="cart-summary">
          <p><b>Total Articles:</b> 5</p>
          <p><b>Total à payer:</b> 1500 TND</p>
        </div>
      
        <button class="proceed-button" [routerLink]="['/paiement']">Payer</button>
      </div>